paper-input {
  width: inherit;
  margin-left: 30px; }

paper-input::shadow div.label {
  left: inherit; }

paper-checkbox {
  margin-left: 0px;
  margin-right: 10px; }

paper-checkbox::shadow #checkboxLabel {
  padding-left: 1px; }

paper-button {
  margin: 1em;
  width: 10em; }

paper-button.colored {
  color: #4285f4;
  fill: #4285f4; }

paper-button[raisedButton].colored {
  background: #4285f4;
  color: #fff; }

paper-button[raisedButton].colored #ripple,
paper-button[raisedButton].colored::shadow #ripple {
  color: #2a56c6; }

paper-button[raisedButton].colored::shadow #focusBg {
  background: #3367d6; }

paper-tabs {
  max-width: 100%; }

paper-tabs, core-toolbar {
  background-color: #4285f4;
  color: #fff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); }

core-toolbar paper-tabs {
  box-shadow: none; }

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d; }

paper-tabs.transparent-teal::shadow #selectionBar {
  background-color: #00bcd4; }

paper-tabs.transparent-teal paper-tab::shadow #ink {
  color: #00bcd4; }

paper-toast {
  padding-right: 60px; }
