paper-input#room_id {
  width: 45%;
  display: inline-block;
  position: relative;
  top: 0;
  margin-top: 0;
  padding-top: 0; }

paper-input#post_time {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  padding-top: 0; }

paper-input#content {
  width: 75%;
  position: relative;
  left: 5%; }

#submit {
  left: 7%; }

paper-icon-button.del-button {
  position: absolute;
  right: 20px;
  z-index: 10; }

paper-tabs.transparent-teal {
  background-color: transparent;
  color: #00bcd4;
  box-shadow: none; }

div.container {
  width: 80%;
  margin: 0 auto; }

div.chatworkform {
  width: 80%;
  position: relative;
  margin: 0 auto; }

div.post {
  width: inherit;
  margin: 0 auto; }

div.line1 {
  height: 100px; }

#updateToast::shadow :host {
  background-color: #777; }

.messages {
  /*width: 100%; */
  min-height: 400px;
  /*border-style: solid; */
  /*border: 3px solid #333; */
  border-top: 0;
  margin-bottom: 100px;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 30px; }

#scroll_aria {
  min-height: 350px;
  overflow: scroll;
  padding-top: 20px;
  z-index: 1000; }

.detail {
  width: 97%;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
  border: 3px solid #ddd;
  border-radius: 5px; }
  .detail .main-content {
    width: 92%;
    position: relative;
    left: 5%; }
    .detail .main-content .view-content .location-info {
      margin-top: 30px;
      margin-bottom: 0; }
    .detail .main-content .view-content .post-content {
      padding-top: 20px; }
    .detail .main-content .post-time {
      margin-left: 20px; }
    .detail .main-content .post-hr {
      position: relative;
      top: 20px;
      margin-bottom: 10px;
      width: 100%;
      background-color: #ccc; }
    .detail .main-content .edit-content {
      display: none; }
      .detail .main-content .edit-content .input-content {
        margin-left: 0;
        width: 100%; }
      .detail .main-content .edit-content .submit {
        margin-left: 0; }
      .detail .main-content .edit-content .post-time-val {
        display: inline-block;
        width: 20%; }
@-webkit-keyframes fadein {
  0% {
    color: #8c8c8c;
    opacity: 0.3;
    filter: alpha(opacity=30); }
  100% {
    color: #333;
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes fadein {
  0% {
    color: #8c8c8c;
    opacity: 0.3;
    filter: alpha(opacity=30); }
  100% {
    color: #333;
    opacity: 1;
    filter: alpha(opacity=100); } }
  .detail .edit-link {
    color: #8c8c8c;
    position: absolute;
    bottom: 0px;
    margin: 0;
    padding: 0;
    right: 15px;
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: pointer; }
    .detail .edit-link:hover {
      color: #333;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-animation-name: fadein;
              animation-name: fadein;
      -webkit-animation-duration: 0.4s;
              animation-duration: 0.4s;
      -webkit-animation-timing-function: ease;
              animation-timing-function: ease;
      -webkit-animation-delay: 0;
              animation-delay: 0;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
